name: Tag Release

on:
 push:
  tags:
   - 'v*'
   - 'bird-test-tag'

permissions:
 contents: read
 pages: write
 id-token: write

jobs:
 create-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest

    steps:
     - name: Checkout code
       uses: actions/checkout@v4
       with:
        fetch-depth: 1
     - name: Zip Folder
       uses: vimtor/action-zip@v1.2
       with:
        files: common/ descriptions/ events/ gfx/ history/ interface/ localisation/ map/ music/ portraits/ scenario_tests/ sound/ tutorial/ Changelog.txt CONTRIBUTING.md descriptor.mod Millennium_DAwn.mod
        dest: Millennium-Dawn-${{ steps.version.outputs.version }}.zip
        recursive: true
     - name: Create GitHub Release
       id: create_release
       uses: softprops/action-gh-release@
       with:
        name: Release ${{ steps.version.outputs.versions }}
        tag_name: v${{ steps.version.outputs.version }}
        draft: false
        prerelease: ${{ contains(steps.version.outputs.version, '-') }}
        generate_release_notes: true
        files:
         Millennium-Dawn-${{ steps.version.outputs.version }}.zip
