name: Tag Release

on:
 push:
  tags:
   - 'v*'
   - 'bird-test-tag-*'

permissions:
 contents: write
 pages: write
 id-token: write

jobs:
 create-release:
    name: Create GitHub Release
    runs-on: ubuntu-latest

    steps:
     - name: Checkout code
       uses: actions/checkout@v4
       with:
        fetch-depth: 1
     - name: Tar the Files
       run: tar -czf Millennium-Dawn-${{ github.ref_name }}.tar.gz common/ descriptions/ events/ gfx/ history/ interface/ localisation/ map/ music/ portraits/ scenario_tests/ sound/ tutorial/ Changelog.txt CONTRIBUTING.md descriptor.mod
     - name: Create GitHub Release
       id: create_release
       uses: softprops/action-gh-release@v2
       with:
        name: Release ${{ github.ref_name }}
        tag_name: v${{ github.ref_name }}
        draft: false
        prerelease: ${{ github.ref_name }}
        generate_release_notes: true
        files:
         Millennium-Dawn-${{ github.ref_name }}.tar.gz
